@import '~stylus/colors'

#header-container
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start
    margin 0 0 70px 0

#header
    font-size 48px
    margin 0
    color detail-1
    font-weight bold

#header-detail
    font-size 18px
    margin 0 0 20px 0
    color detail-3
    font-weight normal