primary-1 = #f47dbb
primary-2 = #f47dbb
primary-3 = #d94496
primary-root = #ff99cc
text-on-primary = #ffffff

detail-1 = #000000
detail-2 = #444444
detail-3 = #888888

sub-detail-1 = #aaaaaa

tertiary-1 = #999999

success = #4cd964
danger = #ff3b30

root = #ffffff
background = #f9fafc
aside-background = #ffffff
aside-detail = #757575
aside-interact = #fcfcfc

card = #ffffff

border = #e8e8e8
preload = #ceced2
link = primary-2

appearance(argument)
    appearance argument
    -moz-appearance argument
    -webkit-appearance argument