@import '~stylus/colors'

.user-detail
    display list-item
    flex-direction row
    justify-content flex-start
    align-items center
    width 100%
    margin 0 0 5px 0
    color detail-3
    font-size 14px
    text-align left