@import '~stylus/colors'

.user-detail
    font-size 16px
    color detail-2
    margin 0 0 15px 0
    cursor default

    .user-link
        color primary-1
        margin-right .35em
        cursor pointer
        text-decoration none

        &:hover,
        &:focus
            text-decoration underline

    &:last-child
        margin-bottom 0