@import '~stylus/colors'

.input-time
    appearance none
    border 0
    background-color transparent
    font-size 21px
    color detail-2
    outline none
    overflow hidden

    &::-webkit-clear-button
        display none

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
        display none